/* .cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    
} */
.carouselExampleCaptions{
    height: 40vh;
}

.price{
    display: flex;
    flex-direction: row;
}

.socialLink{
    width: 35px ; 
}
